<h1>{{user.username}}</h1>

<div>
  <a href="/users/{{user.id}}/edit">Edit User</a>
</div>

<div>
  <form action="/users/{{user.id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete User"/>
  </form>
</div>
<br/>
<div>
	<a href="/users/{{user.id}}/components">Components</a>
</div>
<ul>
  <li>username: {{user.username}}</li>
  <li>password: {{user.password}}</li>
  <li>Name: {{user.first_name}}</li>
  <li>Sign up date: {{user.created_at}}</li>
  <!-- <li>Bio: {{user.bio}}</li> -->
</ul>